name: release-please

on:
  push:
    branches:
      - main

permissions:
  id-token: write # for provenance attestation (NPM)
  contents: write
  pull-requests: write
  # needed for the auto-tag
  issues: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          registry-url: 'https://registry.npmjs.org'

      - name: Ensure NPM token validity
        run: npm whoami
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_PAT }}
          release-type: node

      - name: Auto Tag
        uses: graasp/graasp-deploy/.github/actions/auto-tag-after-release@v1
        with:
          releases_created: ${{ steps.release.outputs.releases_created }}
          tag_name: ${{ steps.release.outputs.tag_name }}

      - name: Verify installation
        uses: graasp/graasp-deploy/.github/actions/pnpm-install-and-cache@1b76232e9ccddd5500151e4f4ff9acb48e2039fc

      - name: Publish to NPM
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        run: npm publish --provenance
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
