name: Node CI

on:
  push:
    branches:
      - 'main'
  merge_group:
  pull_request:

jobs:
  build-node:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Cache dependencies
        uses: graasp/graasp-deploy/.github/actions/pnpm-install-and-cache@1b76232e9ccddd5500151e4f4ff9acb48e2039fc

      - name: Lint
        run: pnpm check

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
        env:
          CI: true
