name: Node CI

on:
  push:
    branches:
      - 'main'
  merge_group:
  pull_request:

jobs:
  build-node:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Mise
        uses: jdx/mise-action@v3

      - name: Lint
        run: mise run check

      - name: Build
        run: mise run build

      - name: Test
        run: mise run test
        env:
          CI: true
